@import '~bulma';
@import "~bulma/bulma.sass";
@import "~@creativebulma/bulma-divider";
@import url('~font-awesome/css/font-awesome.min.css');
@import 'modal';
@import "home";
@import "search";

$navbar-height: 2rem;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.content.is-small {
  font-size: 0.9rem;
}
.footer {
  padding: 2rem;
}

.main {
  padding-bottom: 20px;
}

.no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}
